/*

  Zakladni vec je v tom, ze main.less je jediny less soubor, ktery byl vytvoren mnou
  a myslim, ze Vam bude stacit komentare, udelane tady. Ostatni less soubory komentovat
  radsi nebudu :)

  nazactku jsem rozhodl pouzivat grid system bootstrapu.
  Vime, ze tym bootstrapu vytvoril jednotlive less soubory pro
  kazdy zvalstni modul. Tedy pro grid system, forms, responsive utilities atd.

  pouzil jsem vlastne jenom grid system a vytvoril jsem vlastni variables.less
  na zaklade less souboru, ktere byl pripraven tymem bootstrap.

  vybral jsem jen ty promenne, ktere pouzivam v tomto projektu a ty promenne
  jsou okomentovane v zvlastnim souboru less/vars.less. Jsou tam pouzite
  komentare od tymu bootstrap.

  Taky jsem nasel less soubor pro jquery-ui slider.

*/
/* promenne bootstrap grid systemu */
/* soubory mixinu samotneho bootstrap grid systemu
 jak jsem pochopil, mixiny jsou tzv. funkce, ktere se volaji pro vypocet
 hodnot paddingu marginu apod. ciselne hodnoty na zakalde promennych,
 ktere mame definovane ve less/vars.less */
/* import samotneho grid systemu */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/*
 import less pro plugin nice-select.czz
 nice-select se pouziva pro zobrazeni custom select boxu
 */
.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border-radius: 20px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  /* font-family: inherit; */
  font-size: 14px;
  font-weight: 100;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: center !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  min-width: 245px;
  color: white;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.nice-select:after {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  content: '';
  display: block;
  height: 8px;
  margin-top: -7px;
  pointer-events: none;
  position: absolute;
  right: 22px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 8px;
}
.nice-select.open {
  background-color: rgba(255, 255, 255, 0.73);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: solid 0px #e8e8e8;
  color: black;
}
.nice-select.open:after {
  transform: rotate(-135deg);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
  background-color: rgba(255, 255, 255, 0.73);
}
.nice-select .list {
  background-color: rgba(255, 255, 255, 0.73);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-sizing: border-box;
  margin-top: 0px;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  color: black;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  color: black;
  transition: all 0.2s;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}
.nice-select .option:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.no-csspointerevents .nice-select .list {
  display: none;
}
.no-csspointerevents .nice-select.open .list {
  display: block;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 import less pro plugin jquery-ui slider widget
 slider widget potrebuje pro praci se slidery
*/
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
.ui-slider-horizontal {
  height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ui-widget.ui-widget-content {
  border: 0px solid #c5c5c5;
  margin-left: auto;
  margin-right: auto;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}
.ui-widget-content a {
  color: #333333;
}
.ui-widget-header {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
}
.ui-widget-header a {
  color: #333333;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: 1px solid #cccccc;
  background: #ededed;
  font-weight: normal;
  color: #2b2b2b;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #ffffff;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
}
.ui-state-checked {
  border: 1px solid #dad55e;
  background: #fffa90;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #777620;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  /* support: IE8 */
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  /* support: IE8 */
  background-image: none;
}
/*
 za background mame gradient ktere zacina barvou #51b5c5
 a prirazuje se do promenne @background_left_gradient_color
*/
/*
 gradient backgroundu skonci barvou #9ddadf
 ktera se prirazuje do @background_right_gradient_color
*/
/*  prednastaveni barvy pro tag <strong>  */
/*
 odstranujeme defaultni marginy a paddingy pro html a body
 a zadavame font stranky
 */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Open Sans', sans-serif;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}
/*
 hlavicky,
 h2 pro zahlavi bloku .calc-block
 h4 pro summary
 */
h2,
h4 {
  margin: 0;
  font-weight: 400;
  color: white;
}
h2 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
  text-transform: uppercase;
}
/*
 zakladni blok, ktery ma v sobe vsechny ostatni bloky
 cely block s minimalni vyskou 500px
 background blocku je ve tavru gradientu
 */
.calc-block {
  position: relative;
  min-height: 500px;
  padding: 0px 20px 70px 20px;
  background: #51b5c5;
  background: linear-gradient(left, #51b5c5, #9ddadf);
  background: -o-linear-gradient(left, #51b5c5, #9ddadf);
  background: -ms-linear-gradient(left, #51b5c5, #9ddadf);
  background: -moz-linear-gradient(left, #51b5c5, #9ddadf);
  background: -webkit-linear-gradient(left, #51b5c5, #9ddadf);
  /*
   obrazek v leve casti bloku .calc-blcok
 */
  /*
   hlavicka bloku .calc-block
 */
  /*
   vydeleny oranzovy text v hlavicce bloku .calc-block
 */
}
.calc-block .money-heart-img {
  position: absolute;
  top: 50%;
  margin-top: -130px;
  bottom: 0;
  z-index: 1;
}
.calc-block h2 {
  text-align: center;
  padding: 40px 0px 0px 0px;
}
.calc-block h2 > strong {
  color: #fa7f41;
  white-space: nowrap;
}
/*
 tady jsem nastavil zvlastni styly pro slider.
 defaulnti styly jsou v souboru jquery.ui.slider.less
 */
.ui-slider {
  /*
   pochybujici block slideru
 */
  /*
  oranzova tecka v pochybujicim bloku.
   :before pouzivame protoze plugin vytvari v DOMu jen samotny pochybujici blok
   muze tam byt klidne i :after
 */
  /*
   barevna cast slideru
 */
}
.ui-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  background: #fff;
  position: absolute;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  outline: 0;
  transition: transform .1s;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s, -moz-transform 0.1s, -o-transform 0.1s, transform 0.1s;
}
.ui-slider .ui-slider-handle:before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  background: #fb8044;
}
.ui-slider .ui-slider-range {
  position: absolute;
  height: 8px;
  cursor: pointer;
  background: #fb8044;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
}
/*
 block, ktera ma v sobe slidery a jejich hodnoty.
 nastavil jsem z-index, aby obrazek v leve casti bloku ne prekryval tyto slidery
 */
.calc {
  z-index: 4;
  margin-top: 35px;
  /*
   blok, ktery ma v sobe jednotlive slidery
 */
  /*
 wrapper
   pro blok s hodnotou, kterou ma slider
   pro block s oznacenim bud %, kc nebo mesic
 */
  /*
   block, ktery obsahuje vysledek
 */
}
.calc .slider-wrapper {
  margin-bottom: 40px;
  /*
     blok slideru
     */
  /*
     blok hlavicky slideru
 */
}
.calc .slider-wrapper .slider {
  border-radius: 30px;
  height: 8px;
}
.calc .slider-wrapper .label {
  color: #fff;
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 15px;
}
.calc .slider-value-container-outer {
  margin: 12px 0px;
  max-width: 260px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /*
        blok s hodnotou, kterou ma slider
    */
}
.calc .slider-value-container-outer .slider-value-container {
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  font-weight: 100;
  font-size: 22px;
  background: transparent;
  border: 1px solid #fff;
  height: 45px;
  line-height: 30px;
  color: #fff;
  padding: 5px 20px;
  /*
       oznaceni hodnoty slideru %, Kc nebo mesic
       */
  /*
       block s hodnotou slideru
      */
}
.calc .slider-value-container-outer .slider-value-container .slider-value-label {
  position: absolute;
  width: 76px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  right: 10px;
  top: 50%;
  margin-top: -20px;
  color: #fff;
  pointer-events: none;
}
.calc .slider-value-container-outer .slider-value-container .slider-value {
  display: block;
  text-align: center;
  padding: 2px 50px 0px 0px;
}
.calc .results {
  text-align: center;
}
/*
 blok, ktery ma v sobe selectbox
 */
.select-wrapper {
  margin-bottom: 20px;
}
/*
 blok pro summary
 */
.result-value {
  color: #fa7f41;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 0px 15px;
  white-space: nowrap;
}
/*
 hlavicka pro summary
 */
.summary {
  padding: 9px 0px;
}
/********************************************************************************************/
/********************************************************************************************/
/***************************************   MEDIA QUERIES   **********************************/
/********************************************************************************************/
/*
 urcujeme break pointy pro jednotlive sirky obrazovky.
 vetsina jsou nastavena v grid systemu bootstrapu a jsou popsane v grid.less
 jinak pouzite col-* a push-* jsem popsal i v index.html

 v main.less mame jen ty bloky, ktery jsem vytvoril sam

 potrebujeme pro nastaveni zvlastnich pripadu pro sirku minimalne 768px a vice
 kdyz sirka obrazovky bude mene nez 768px tak se budou pouzivat nastaveni zadane pred tim

 */
@media (min-width: 768px) {
  .calc {
    /*
     pro obrazovku sirky 768px a vice, hlavicka vysledku "Summary" se vyrovnava vlevo
 */
  }
  .calc .results {
    text-align: left;
  }
  /*
   pro obrazovku sirky 768px a vice, text vysledku se vyrovnava vpravo

 */
  .result-value {
    text-align: right;
    margin: 0;
  }
}
/*
 potrebujeme pro nastaveni zvlastnich pripadu pro sirku minimalne 991px a vice
 kdyz sirka obrazovky bude mene nez 991px tak se budou pouzivat nastaveni zadane pred tim
 */
@media (max-width: 991px) {
  /*
  pro obrazovku sirky 991px a vice obrazek uvnir blocku .calc-block posouvame vravo

 */
  .calc-block .money-heart-img {
    left: -152px;
  }
}
